<h1>Listing contacts</h1>

<table>
  <tr>
    <th><%= Contact.human_attribute_name("name") %></th>
    <th><%= Contact.human_attribute_name("email") %></th>
    <th><%= Contact.human_attribute_name("kind") %></th>
    <th><%= Contact.human_attribute_name("rmk") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.kind %></td>
    <td><%= contact.rmk %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
